.sidebar {
  &.sidebar-mini {
    width: 80px !important;

    .nav li a p {
      margin-left: 0 !important;
      opacity: 0;
      transition: all 0.5s;
    }

    .logo {
      .logo-text {
        margin-left: 0 !important;
        opacity: 0;
        transition: all 0.5s;
      }
    }

    &:hover {
      width: 230px !important;

      .nav li a p {
        margin-left: 50px !important;
        opacity: 1;
      }

      .logo {
        .logo-text {
          margin-left: 50px !important;
          opacity: 1;
        }
      }
    }
  }
}
